body {
    background-color: lightgray
}

h1 {
    color: forestgreen
}

.friend {
    background-color: blue
}

h3 {
    text-transform: uppercase;
    color: coral;
}
p {
    font-family: fantasy;
}